<div class='widget-titlebar'>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">{{'APP_TITLE' | i18n}}</a>
        </div>
        <div class='button-group' ng-repeat='item in navigation' ng-click="onChangeRoute(item)">
            <ul class="nav navbar-nav">
                <li ng-class='{active: item == selected}'><a ng-href="{{item.url}}">{{item.name | i18n}}</a></li>
            </ul>
      </div>
    </nav>
</div>
